*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, #campo-busca, main, #pokedex, #nome-e-id, #image-poke, #tipos-do-poke{
    display: flex;
}

body{
    flex-direction: column;
    align-items: center;
}

#campo-busca{
    height: 30px;
    width: 270px;
    justify-content: space-around;
    padding: 10px;
    /* background-color: blueviolet; */
}
#campo-busca input{
    outline: 0;
    text-align: center;
}
#campo-busca button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    background-color: red;
    cursor: pointer;
    font-weight: bolder;
}
#campo-busca button:hover{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

main{
    width: 400px;
    height: 550px;
    padding: 10px;
    background-color: red;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}

#pokedex{
    /* background-color: aqua; */
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 97%;
    box-shadow: inset 0 0 3px black;
    border-radius: 7px;
}

#nome-e-id{
    justify-content: space-around;
    /* background-color: blue; */
    margin: 10px;
    width: 100%;
}
#nome-e-id span{
    font-size: 2em;
    color: white;
    font-weight: bolder;
}

#image-poke{
    width: 350px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}
#image-poke button{
    position: relative;
    width: 30px;
    height: 30px;
    padding: 5px;
    top: -20px;
    left: 170px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ccc;
}
#image-poke button:hover{
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 0 10px white;
}
#image-poke button img{
    width: 17px;
}
#image-poke img{
    width: 350px;
    background-color: rgba(204, 204, 204, 0.3);
}

p{
    text-align: center;
}

#tipos {
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}
#tipos h2{
    font-size: 2em;
    margin: 10px 0;
}

#tipos-do-poke{
    width: 100%;
    justify-content: space-around;
}
#tipos-do-poke p{
    width: 40%;
    padding: 3px;
    font-size: 1.7em;
    background-color: #ccc;
    border-radius: 15px 0;
}

.esconde-ft{
    display: none;
}